<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    body{
        display: block;
        text-align: center;
        padding-top: 8%;
        background: linear-gradient(to bottom, #fff, #dadada);
    }


</style>
</head>
<body>
    <h3>Ejercicio Vehiculos</h3>
    <!-- PRIMER FORM-->
    <form class= "car-form">
    <div class="d-flex flex-column">
        <div class="p-2">Plate <input type="text" id="inputMatricula" class="form-control" style="width: 25%; margin-left: 38%;">
            <div class="invalid-feedback" id="plateError"></div>
            </div>

        <div class="p-2">Brand <input type="text" id="inputMarca" class="form-control" style="width: 25%; margin-left: 38%;"></div>

        <div class="p-2">Color <input type="text" id="inputColorCoche" class="form-control" style="width: 25%; margin-left: 38%;"></div>
        
      </div>
     <!-- <button type="button" class="btn btn-dark" id="createCarBtn">Create car</button>-->
      <button type="button" id="createCarBtn" class="btn btn-dark">Create Car</button>
      <!--onclick="createCar()"-->
    </form>


<br>
<br>


 <!-- SEGUNDO FORM  -->

 <form class="wheels-form d-none">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Marca Rueda 1</th>
                <th scope="col">Diametro Rueda 1</th>
                <th scope="col">Marca Rueda 2</th>
                <th scope="col">Diametro Rueda 2</th>
            </tr>


            <tr>
                <th scope="row"><input type="text" id="inputMarca1" class="form-control"><div class="invalid-feedback" id="marcaError1"></div></th>
                <th scope="row"><input type="text" id="inputDiametro1" class="form-control"><div class="invalid-feedback" id="diameterError1"></div></th>
                <th scope="row"><input type="text" id="inputMarca2" class="form-control"><div class="invalid-feedback" id="marcaError2"></div></th>
                <th scope="row"><input type="text" id="inputDiametro2" class="form-control"><div class="invalid-feedback" id="diameterError2"></div></th>
            </tr>
            <tr>
                <th scope="col">Marca Rueda 3</th>
                <th scope="col">Diametro Rueda 3</th>
                <th scope="col">Marca Rueda 4</th>
                <th scope="col">Diametro Rueda 4</th>
            </tr>
            <tr>
                <th scope="row"><input type="text" id="inputMarca3" class="form-control"><div class="invalid-feedback" id="marcaError3"></div></th>
                <th scope="row"><input type="text" id="inputDiametro3" class="form-control"><div class="invalid-feedback" id="diameterError3"></div></th>
                <th scope="row"><input type="text" id="inputMarca4" class="form-control"><div class="invalid-feedback" id="marcaError4"></div></th>
                <th scope="row"><input type="text" id="inputDiametro4" class="form-control"><div class="invalid-feedback" id="diameterError4"></div></th>
            </tr>
        </thead>

        
    </table>
   <!-- <button type="button" class="btn btn-dark" id="createWheelsBtn">Add wheels</button> -->
    <button type="button" id="createWheelsBtn" class="btn btn-dark">Add Wheels</button>

<!--onclick="addWheels()"-->
 </form>


 <div class="bg-light text-dark" id="carInfo"></div>
 <div class="bg-light text-dark" id="wheelsInfo"></div>

<script src="../models/car.js"></script>
<script src="../models/wheel.js"></script>
<script src="../controllers/controller.js"></script>

</body>

<!-- onclick="createCar('1212SDS','SEAT','ROJO')" -->

